- tap:
  - wooga/tools
  - nobitagamer/cask

- brew:
  - imagemagick
  - librsvg
  - rbenv
  - wooga/tools/unity-version-manager

- cask:
  - java8
  - android-sdk
  - nobitagamer/cask/android-ndk
  - fastlane

- shell++:
  - description: Pre-install latest version of Unity3D
    condition: 'true'
  - stdout: true
    stdin: true
    stderr: true
    command: |
      # Ask for the administrator password upfront
      sudo -v

      # Keep-alive: update existing `sudo` time stamp until `.macos` has finished
      while true; do sudo -n true; sleep 60; kill -0 "$$" || exit; done 2>/dev/null &

      # Unity3D preinstall
      uvm install 2018.1.0f2 --android --ios

      # Accept all licenses
      yes | sdkmanager --licenses

      # Android SDK build tools
      sdkmanager "platform-tools" "build-tools;28.0.0" "tools" "extras;android;m2repository" "platforms;android-16" "sources;android-16" "platforms;android-27" "sources;android-27"
