[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot.git
	ignore = dirty
[submodule "meta/dotbot-brewfile"]
	path = meta/dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
	ignore = dirty
[submodule "meta/dotbot-pip"]
	path = meta/dotbot-pip
	url = https://github.com/sobolevn/dotbot-pip.git
	ignore = dirty
[submodule "meta/dotbot-brew"]
	path = meta/dotbot-brew
	url = https://github.com/nobitagamer/dotbot-brew.git
[submodule "meta/dotbot-yum"]
	path = meta/dotbot-yum
	url = https://gitlab.com/flyingchipmunk/dotbot-yum.git
